page-home {
    background-color: black;
    
    .howToMeetWomen {
        overflow: hidden;
    }
    
    .sexy {
        margin: 0;
        padding: 0;
        overflow: hidden;
        color: #333;
        background: #9cd5ff;
        cursor: pointer;
        height: 100%;
    }
}
